<a href="https://colab.research.google.com/github/Munia2319/MachineLearning/blob/main/Naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
filename = r'/content/drive/MyDrive/train.csv'
df=pd.read_csv(filename)
df.head()
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Embarked','Cabin'],axis='columns',inplace=True)
df.head()

Mounted at /content/drive

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [ ]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [ ]:
x=type(inputs)
print(x)
dummies=pd.get_dummies(inputs.Sex)
dummies.head(3)

<class 'pandas.core.frame.DataFrame'>

   female  male
0       0     1
1       1     0
2       1     0

In [ ]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [ ]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0

In [ ]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [ ]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [ ]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.3)

In [ ]:
x_train

     Pclass   Age      Fare  female  male
246       3  25.0    7.7750       1     0
679       1  36.0  512.3292       0     1
777       3   5.0   12.4750       1     0
576       2  34.0   13.0000       1     0
535       2   7.0   26.2500       1     0
..      ...   ...       ...     ...   ...
74        3  32.0   56.4958       0     1
609       1  40.0  153.4625       1     0
0         3  22.0    7.2500       0     1
283       3  19.0    8.0500       0     1
333       3  16.0   18.0000       0     1

[623 rows x 5 columns]

In [ ]:
x_test

     Pclass        Age      Fare  female  male
175       3  18.000000    7.8542       0     1
7         3   2.000000   21.0750       0     1
306       1  29.699118  110.8833       1     0
859       3  29.699118    7.2292       0     1
431       3  29.699118   16.1000       1     0
..      ...        ...       ...     ...   ...
855       3  18.000000    9.3500       1     0
107       3  29.699118    7.7750       0     1
334       1  29.699118  133.6500       1     0
486       1  35.000000   90.0000       1     0
457       1  29.699118   51.8625       1     0

[179 rows x 5 columns]

In [ ]:
y_train

544    0
402    0
449    1
70     0
92     0
      ..
487    0
78     1
488    0
591    1
171    0
Name: Survived, Length: 712, dtype: int64

In [ ]:
y_test

521    0
513    1
707    1
265    0
1      1
      ..
602    0
23     1
860    0
584    0
375    1
Name: Survived, Length: 268, dtype: int64

In [ ]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [ ]:
model.fit(x_train,y_train)

GaussianNB()

In [ ]:
model.score(x_test,y_test)

0.8022388059701493

In [ ]:
y_test[0:10]

521    0
513    1
707    1
265    0
1      1
89     0
324    0
206    0
619    0
529    0
Name: Survived, dtype: int64

In [ ]:
model.predict(x_test[:10])

array([0, 1, 0, 0, 1, 0, 0, 0, 0, 0])