<a href="https://colab.research.google.com/github/Munia2319/MachineLearning/blob/main/titanic_survivor_with_decission_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import file
from google.colab import files
uploaded=files.upload()

Saving titanic.csv to titanic.csv

In [ ]:
import pandas as pd
df=pd.read_csv('/content/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df[['Sex','Age','Fare','Pclass']].isnull().values.any()
result=df[['Sex','Age','Fare','Pclass']].isnull().sum()
value=df[['Sex','Age','Fare','Pclass']].isnull()
value.head(10)

     Sex    Age   Fare  Pclass
0  False  False  False   False
1  False  False  False   False
2  False  False  False   False
3  False  False  False   False
4  False  False  False   False
5  False   True  False   False
6  False  False  False   False
7  False  False  False   False
8  False  False  False   False
9  False  False  False   False

In [ ]:
target=df['Survived']
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
inputs=df.drop(['Survived','PassengerId','SibSp','Parch','Ticket','Cabin','Embarked','Name'],axis='columns')
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [ ]:
#handling with nan values
inputs['Sex'].isnull().values.any()

False

In [ ]:
#handling with nan values
inputs['Age'].isnull().values.any()

True

In [ ]:
#filling nan value with medians
inputs['Age']=inputs['Age'].fillna(inputs['Age'].mean())
inputs['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
#checking if still any value is nan
inputs['Age'].isnull().values.any()

False

In [ ]:
#now converting string to number
from sklearn import preprocessing
le_sex=preprocessing.LabelEncoder()

In [ ]:
inputs['Fare'].isnull().values.any()

False

In [ ]:
inputs['Pclass'].isnull().values.any()

False

In [ ]:
target.isnull().values.any()
import numpy as np
np.isfinite(target.all())

True

In [ ]:
#assigning new column to inputs
inputs['sex_n']=le_sex.fit_transform(inputs['Sex'])
inputs.head()

   Pclass     Sex   Age     Fare  sex_n
0       3    male  22.0   7.2500      1
1       1  female  38.0  71.2833      0
2       3  female  26.0   7.9250      0
3       1  female  35.0  53.1000      0
4       3    male  35.0   8.0500      1

In [ ]:
inputs_n=inputs.drop('Sex',axis='columns')
inputs_n

     Pclass   Age     Fare  sex_n
0         3  22.0   7.2500      1
1         1  38.0  71.2833      0
2         3  26.0   7.9250      0
3         1  35.0  53.1000      0
4         3  35.0   8.0500      1
..      ...   ...      ...    ...
886       2  27.0  13.0000      1
887       1  19.0  30.0000      0
888       3  28.0  23.4500      0
889       1  26.0  30.0000      1
890       3  32.0   7.7500      1

[891 rows x 4 columns]

In [ ]:
np.isfinite(inputs_n.all())
np.isnan(inputs_n)

     Pclass    Age   Fare  sex_n
0     False  False  False  False
1     False  False  False  False
2     False  False  False  False
3     False  False  False  False
4     False  False  False  False
..      ...    ...    ...    ...
886   False  False  False  False
887   False  False  False  False
888   False  False  False  False
889   False  False  False  False
890   False  False  False  False

[891 rows x 4 columns]

In [ ]:
#splitting data set for training and testing
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs_n,target,test_size=0.2)

In [ ]:
#creating model
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [ ]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [ ]:
model.score(x_test,y_test)

0.776536312849162